<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Salma Suliman</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="simple-grid.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="main.js"></script>
</head>
<body>
    <div class="sticky">
        <div id="header" class="container">
            <div class="row">
                <div class="col-5">
                    <h1>Salma Suliman</h1>
                    <h2>Software Engineer</h2>
                </div>
                <div class="col-7">
                    <ul class="menu">
                        <li><a href="#about">About</a></li>
                        <li><a href="#portfolio">Portfolio</a></li>
                        <li><a target="_blank" href="Salma_Suliman_Resume.pdf">Resume</a></li>
                        <li><a href="mailto:ssuliman91@gmail.com">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="about">
                    <p>
                        I'm a Software Engineer proficient in both Front-end and Back-end Development,

                        with a Bachelor's degree in Computer Science from 
                        <a target="_blank" href="https://uwaterloo.ca/computer-science/">
                            the University of Waterloo
                        </a>, 
                        a Certificate of Completion from 
                        <a target="_blank" href="https://www.codingdojo.com/">Coding Dojo</a>
                        and over two years of experience working as a Software Engineer at Google.
                    </p>

                    <p class="green">
                        I'm interested in joining a team of developers aiming to create a positive impact in the world.
                    </p>

                    <p>
                        Check out a couple of my projects below, and connect with me through:
                    </p>

                    <ul class="social">
                        <li>
                            <span class="fa fa-linkedin" style="font-size: 24px"></span>
                            &nbsp; 
                            <a target="_blank" href="https://www.linkedin.com/in/salmasuliman/">
                            LinkedIn
                        </a></li>
                        <li>
                            <span class="fa fa-github" style="font-size: 24px"></span>
                            &nbsp; 
                            <a target="_blank" href="https://github.com/SalmaCodes">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div id="seperator">
                <h1 class="center">
                    <span class="gold">★</span> 
                    Portfolio 
                    <span class="gold">★</span> 
                </h1>
            </div>
        </div>
    </div>

    <div id="portfolio" class="container">
        <div class="row">
            <div class="col-6">
                <div class="project lyricator">
                    <h2>
                        <span class="gold">★</span> 
                        Lyricator
                    </h2>
                    <h3>A collaborative platform for creative writers.</h3>
                    <h4 class="special">**Winner of Coding Dojo's two-day Python Hackathon.</h4>
                    <h5 class="tech">Python / Django / SqLite</h5>
                    <h5>
                        <a target="_blank" href="https://github.com/SalmaCodes/lyricator">GitHub Code</a>
                    </h5>
                    <div class="vid" style="position:relative;height:0;padding-bottom:75.0%">
                        <iframe src="https://www.youtube.com/embed/eXDr2mIgRSI?rel=0&amp;showinfo=0&amp;ecver=2" width="480" height="360" frameborder="0" allow="autoplay; encrypted-media" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="project burn">
                    <h2>
                        <span class="gold">★</span>  
                        Burning Man
                    </h2>
                    <h3>A hang-man inspired multi-player game.</h3>
                    <h5 class="tech">TypeScript / Socket.io / MEAN (MongoDB / Express / Angular / Node)</h5>
                    <h5>
                        <a target="_blank" href="https://github.com/SalmaCodes/burning-man">GitHub Code</a>
                    </h5>
                    
                    <div class="vid" style="position:relative;height:0;padding-bottom:75.0%">
                        <iframe src="https://www.youtube.com/embed/IEWUesPSFUA?rel=0&amp;showinfo=0&amp;ecver=2" width="480" height="360" frameborder="0" allow="autoplay; encrypted-media" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer" class="container">
        <div class="row">
            <div class="col-12">
                    <ul class="social center">
                        <li>
                            <span class="fa fa-linkedin" style="font-size: 24px"></span>
                            &nbsp; 
                            <a target="_blank" href="https://www.linkedin.com/in/salmasuliman/">
                            LinkedIn
                        </a></li>
                        <li>
                            <span class="fa fa-github" style="font-size: 24px"></span>
                            &nbsp; 
                            <a target="_blank" href="https://github.com/SalmaCodes">GitHub</a></li>
                    </ul>
            </div>
        </div>
    </div>
</body>
</html>